In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("day2.csv", header=None)

In [3]:
handStrat = {
"A":"Y",
"B":"X",
"C":"Z"
}

In [4]:
df['opponent'] = df[0].str.split(' ').apply(lambda x: x[0])
df['unsure'] = df[0].str.split(' ').apply(lambda x: x[1])
df['myStrate'] = df.opponent.map(handStrat)

In [5]:
df['resultHands'] = df.opponent + df.myStrate

In [6]:
df.resultHands

0       CZ
1       BX
2       CZ
3       CZ
4       BX
        ..
2495    BX
2496    AY
2497    AY
2498    CZ
2499    BX
Name: resultHands, Length: 2500, dtype: object

In [7]:
points = {
    'AY': 8,
    'BY':5,
    'CY':2,
    'AX':4,
    'BX' : 1,
    'CX' : 7,
    'AZ':3,
    'BZ':9,
    'CZ' : 6
}

In [8]:
df['pointsAwarded'] = df.resultHands.map(points)

In [9]:
df.pointsAwarded.sum()

11215

In [10]:
df['pointsAwarded']

0       6
1       1
2       6
3       6
4       1
       ..
2495    1
2496    8
2497    8
2498    6
2499    1
Name: pointsAwarded, Length: 2500, dtype: int64

In [11]:
df.drop(0, axis=1)
df['encryptedStrategyGuide'] = df.opponent + df.unsure

In [13]:
df.encryptedStrategyGuide

0       CX
1       BY
2       CZ
3       CZ
4       BX
        ..
2495    BZ
2496    AX
2497    AX
2498    CY
2499    BX
Name: encryptedStrategyGuide, Length: 2500, dtype: object

In [14]:
df['encryptedStrategyGuide'].map(points)

0       7
1       5
2       6
3       6
4       1
       ..
2495    9
2496    4
2497    4
2498    2
2499    1
Name: encryptedStrategyGuide, Length: 2500, dtype: int64

In [15]:
df['encryptedStrategyGuide']

0       CX
1       BY
2       CZ
3       CZ
4       BX
        ..
2495    BZ
2496    AX
2497    AX
2498    CY
2499    BX
Name: encryptedStrategyGuide, Length: 2500, dtype: object

In [17]:
part2Map = {
    "AX" : ["C", 3],
    "AY" : ["A", 4],
    "AZ" : ["B", 8],
    "BX" : ["A", 1],
    "BY" : ["B", 5],
    "BZ" : ["C", 9],
    "CX" : ["B", 2],
    "CY" : ["C", 6],
    "CZ" : ["A", 7],
}

In [18]:
df

,0,opponent,unsure,myStrate,resultHands,pointsAwarded,encryptedStrategyGuide
0,C X,C,X,Z,CZ,6,CX
1,B Y,B,Y,X,BX,1,BY
2,C Z,C,Z,Z,CZ,6,CZ
3,C Z,C,Z,Z,CZ,6,CZ
4,B X,B,X,X,BX,1,BX
...,...,...,...,...,...,...,...
2495,B Z,B,Z,X,BX,1,BZ
2496,A X,A,X,Y,AY,8,AX
2497,A X,A,X,Y,AY,8,AX
2498,C Y,C,Y,Z,CZ,6,CY
2499,B X,B,X,X,BX,1,BX

In [19]:
df['part2HandPlayed'] = df.encryptedStrategyGuide.map(part2Map)

In [20]:
df

,0,opponent,unsure,myStrate,resultHands,pointsAwarded,encryptedStrategyGuide,part2HandPlayed
0,C X,C,X,Z,CZ,6,CX,"[B, 2]"
1,B Y,B,Y,X,BX,1,BY,"[B, 5]"
2,C Z,C,Z,Z,CZ,6,CZ,"[A, 7]"
3,C Z,C,Z,Z,CZ,6,CZ,"[A, 7]"
4,B X,B,X,X,BX,1,BX,"[A, 1]"
...,...,...,...,...,...,...,...,...
2495,B Z,B,Z,X,BX,1,BZ,"[C, 9]"
2496,A X,A,X,Y,AY,8,AX,"[C, 3]"
2497,A X,A,X,Y,AY,8,AX,"[C, 3]"
2498,C Y,C,Y,Z,CZ,6,CY,"[C, 6]"
2499,B X,B,X,X,BX,1,BX,"[A, 1]"

In [21]:
df['part2PointsAwarded'] = df.part2HandPlayed.apply(lambda x: x[1])

In [22]:
df.part2PointsAwarded.sum()

13131